.App {
    font-family: sans-serif;
  }
  
  .section {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: 1px solid purple;
    background-color: antiquewhite;
    border-radius: 4px;
    margin-bottom: 20px;
    width: 500px;
   
  }

  .la1 .input {
    margin-left: 20px;
  }
  
  label,
  input {
    display: flex;
    margin-left: 20px;
  }
  label,
  button {
    margin-top: 1rem;
  }
  